---
# clang-format file for DMRG++ and PsimagLite 
BasedOnStyle: WebKit
Language: Cpp
UseTab: ForIndentation
TabWidth: 8
IndentWidth: 8
BreakBeforeBraces: Custom
IndentAccessModifiers: false
AccessModifierOffset: -8
EmptyLineAfterAccessModifier: Always
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: true
  AfterStruct:     false
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: true
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align
  #AlignConsecutiveDeclarations: true
  #AlignConsecutiveAssignments: true
---
