---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: WebKit
Language: Cpp
UseTab: ForIndentation
TabWidth: 8
IndentWidth: 8
BreakBeforeBraces: Stroustrup
IndentAccessModifiers: false
AccessModifierOffset: -8
EmptyLineAfterAccessModifier: Always
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BinPackArguments: false 
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align
  #AlignConsecutiveDeclarations: true
  #AlignConsecutiveAssignments: true
---
